extends layout

block content
  -data = data || {}

  div.form-wrapper
    if errors
      ul.error-messages
        for error in errors
          li= error.msg

    h1.text-center.mb-4 Check your visit
    form(action="/check" method="POST")
      div.mb-3
        label(for="ticketId" class="form-label") Appointment Number:
        input(
          type="text"
          class="form-control"
          id="ticketId"
          name="ticketId"
          placeholder="Enter your appointment number"
          value=data.appointmentId
        )

      input(
        type="submit"
        class="btn btn-primary"
        value="Submit"
      )