extends layout

block content
  -userData = userData || {}
  -serverData = serverData || { datesForDisable:[], availableMasters:{} }

  //- Datepicker handler
  script.
    var serverData = !{JSON.stringify(serverData)};
  script(src="/js/main.js")

  div.form-wrapper
    if errors
      ul.error-messages
        for error in errors
          li= error.msg

    h1.text-center.mb-4 Register a visit
    form(action="/register" method="POST")
      div.mb-3
        label(for="user" class="form-label") Name:
        input(
          type="text"
          class="form-control"
          id="user"
          name="user"
          placeholder="Enter your full name"
          value=userData.name
        )
      div.mb-3
        label(for="date" class="form-label") Selected Date:
        input(
          type="button"
          class="btn btn-secondary"
          id="date"
          name="date"
          value=userData.date ? userData.date : "dd.mm.yyyy",
        )
      div.mb-3
        label(for="master" class="form-label") Selected Master:
        select#master.form-select(
          name="master"
          disabled
        )
          option(disabled selected) Select the date first

      input(
        type="submit"
        class="btn btn-primary"
        value="Submit"
      )