extends layout

block content
  -userData = userData || {}
  -serverData = serverData || { datesForDisable:[], availableMasters:{} }

  //- Datepicker handler
  script.
    var serverData = !{JSON.stringify(serverData)};
  script(src="/js/main.js")

  div.form-wrapper
    if errors
      ul.error-messages
        for error in errors
          li= error.msg

    h1.text-center.mb-4 Register a visit
    form(action="/register" method="POST")
      div.mb-3
        label(for="user" class="form-label") Name:
        input(
          type="text"
          class="form-control"
          id="user"
          name="user"
          placeholder="Enter your full name"
          value=userData.name
        )
      div.mb-3
        label(for="master" class="form-label") Selected Master:
        select#master.form-select(
          name="master"
        )
          option(disabled selected) Select master
      div.mb-3
        label(for="date" class="form-label") Selected Date:
        input(
          type="text"
          class="btn btn-secondary"
          id="date"
          name="date"
          value=userData.date ? userData.date : "dd.mm.yyyy",
          disabled 
        )

      div#time.mb-3
        div
          label(class="form-label") Selected Time:
        div.col-6.p-1.btn-group-vertical.mb-2(role="group")
          input.btn-check(type="radio", name="btnradio", id="window0", autocomplete="off" disabled)
          label.btn.btn-outline-primary(for="window0") 08:00 - 08:45

          input.btn-check(type="radio", name="btnradio", id="window1", autocomplete="off" disabled)
          label.btn.btn-outline-primary(for="window1") 09:00 - 09:45

          input.btn-check(type="radio", name="btnradio", id="window2", autocomplete="off" disabled)
          label.btn.btn-outline-primary(for="window2") 10:00 - 10:45

          input.btn-check(type="radio", name="btnradio", id="window3", autocomplete="off" disabled)
          label.btn.btn-outline-primary(for="window3") 11:00 - 11:45

        div.col-6.p-1.btn-group-vertical.mb-2(role="group")
          input.btn-check(type="radio", name="btnradio", id="window4", autocomplete="off" disabled)
          label.btn.btn-outline-primary(for="window4") 12:00 - 12:45

          input.btn-check(type="radio", name="btnradio", id="window5", autocomplete="off" disabled)
          label.btn.btn-outline-primary(for="window5") 14:00 - 14:45

          input.btn-check(type="radio", name="btnradio", id="window6", autocomplete="off" disabled)
          label.btn.btn-outline-primary(for="window6") 15:00 - 15:45

          input.btn-check(type="radio", name="btnradio", id="window7", autocomplete="off" disabled)
          label.btn.btn-outline-primary(for="window7") 16:00 - 16:45

        input(type="hidden", name="selectedTime", id="selectedTime")


      input(
        type="submit"
        class="btn btn-primary"
        value="Submit"
      )