extends layout

block content
  //- Temp placeholder for not available dates
  -data = data || { datesForDisable: ["25.04.2024", "27.04.2024"] }

  //- Datepicker handler
  script.
    var data = !{JSON.stringify(data)};
  script(src="/js/main.js")

  div.form-wrapper
    if errors
      ul.error-messages
        for error in errors
          li= error.msg

    h1.text-center.mb-4 Register a visit
    form(action="/register" method="POST")
      div.mb-3
        label(for="name" class="form-label") Name:
        input(
          type="text"
          class="form-control"
          id="name"
          name="name"
          placeholder="Enter your full name"
          value=data.name
        )
      div.mb-3
        label(for="date" class="form-label") Selected Date:
        input(
          type="button"
          class="btn btn-secondary"
          id="date"
          name="date"
          value=data.date ? data.date : "dd.mm.yyyy",
        )

      input(
        type="submit"
        class="btn btn-primary"
        value="Submit"
      )